<html>
  <head>
    <link rel="icon" href="static/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://registry.npmmirror.com/vue/3.3.11/files/dist/vue.global.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <div class="min-h-screen flex flex-col" id="app">
      <header class="flex items-center justify-between p-4 bg-white fixed w-full top-0 z-10 h-12 shadow-md">
        <div class="flex items-center pl-2">
          <img src="static/logo.png" alt="AI-MDA Logo" class="h-9 w-auto">
        </div>
        <nav class="flex items-center space-x-4 pr-2">
          <button class="text-gray-700" @click="navigateHome">Home</button>
          <a class="text-gray-700" href="#"> About </a>
          <div class="relative">
          </div>
        </nav>
      </header>
      <main class="flex-grow container mx-auto px-4 py-8 pt-16">
        <h1 class="text-4xl font-bold text-center mb-2">Dashboard</h1>
        <p class="text-1xl text-center text-gray-600 mb-8">醫院病患資料-數據分析資料視覺化</p>
        <div class="grid grid-cols-1 md:grid-cols-5 gap-4 mb-8">
          <div class="bg-white p-4 rounded-lg shadow col-span-2 " id="chat1">
            <p class="text-gray-700 ml-6">總病患數量(B肝/C肝/B+C肝)</p>
            <p class="text-gray-700 text-4xl font-bold mr-10 text-right">{{ totalPatients }}</p>
          </div>
          <div class="bg-white p-4 rounded-lg shadow text-center">
            <p class="text-gray-700">B肝病患人數</p>
            <p class="text-gray-700 text-3xl font-bold mt-2">{{ bPatients }}</p>
          </div>
          <div class="bg-white p-4 rounded-lg shadow text-center">
            <p class="text-gray-700">C肝病患人數</p>
            <p class="text-gray-700 text-3xl font-bold mt-2">{{ cPatients }}</p>
          </div>
          <div class="bg-white p-4 rounded-lg shadow text-center">
            <p class="text-gray-700">B/C肝病患人數</p>
            <p class="text-gray-700 text-3xl font-bold mt-2">{{ bcPatients }}</p>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
          <div class="bg-white p-4 rounded-lg shadow ">
            <p class="text-gray-700 ml-6">個案轉出數量/整體比率(%)</p>
            <p class="text-4xl font-bold mr-10 text-right text-gray-700">{{ transferredCases }}</p>
          </div>
          <div class="bg-white p-4 rounded-lg shadow ">
            <p class="text-gray-700 ml-6">已結案數量/整體比率(%)</p>
            <p class="text-4xl font-bold mr-10 text-right text-gray-700">{{ closedCases }}</p>
          </div>
        </div>
        <div class="bg-white p-4 rounded-lg shadow mb-8">
          <p class="text-gray-700 flex items-center justify-center font-bold">B肝/C肝/B+C肝人數表</p>
          <div class="flex justify-center mb-8 ">
            <iframe src="{{ url_for('static', filename='mixed_bar.html') }}" class="w-full md:w-10/12 lg:w-8/12" style="height: 500px;" frameborder="0"></iframe>
          </div>
          <div class="flex justify-center mb-8">
            <iframe src="{{ url_for('static', filename='stack_bar.html') }}" class="w-full md:w-10/12 lg:w-8/12" style="height: 500px;" frameborder="0"></iframe>
          </div>
          <div class="flex justify-center">
            <iframe src="{{ url_for('static', filename='multiple_bar.html') }}" class="w-full md:w-10/12 lg:w-8/12" style="height: 500px;" frameborder="0"></iframe>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <form class="bg-black text-white px-8 py-3 rounded"  action="/report_download" enctype='multipart/form-data' method='POST'>
              <input type="submit" value="一鍵下載PPT">
          </form>
       
        </div>
      </main>
      <footer class="bg-white py-4">
        <div class="container mx-auto px-4 flex justify-between items-center">
          <span class="text-gray-600">中文(繁體)</span>
          <span class="text-gray-600"
            >© 2024 Meeting Assistant, All Rights Reserved.</span
          >
        </div>
      </footer>
    </div>
    <script>
        const { createApp } = Vue;

        createApp({
          data() {
            return {
              totalPatients: '100K',
              bPatients: '5K',
              cPatients: '350',
              bcPatients: '200',
              transferredCases: '100K',
              closedCases: '5K'
            };
          },

          methods: {
            navigateHome() {
              window.location.href = "/templates/index.html";
            },
          }
        }).mount("#app");
    </script>
  </body>
</html>
