<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="static/logo.png" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet" />
  <script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
  <style>
    body {
      font-family: "Noto Sans TC", sans-serif;
    }

    .canvas-style {
      width: 630px;
      height: auto;
      image-rendering: optimizeQuality;
    }
    .relative {
      position: relative;
    }
    .video-style {
      width: 630px;
      height: auto;
    }

    #dialogBox {
      position: relative;
    }

      #responseText {
        color: black;
        font-size: 2.3em;
        max-height: 250px;
        overflow-y: auto;
        white-space: pre-wrap;
    }
  </style>
</head>

<body>
  <div class="min-h-screen flex flex-col">
    <header class="flex items-center justify-center p-4 border-b">
      <div class="flex items-center">
        <img src="static/logo.png" alt="AI-MDA Logo" style="height: 55px; width: auto;" />
      </div>
    </header>

    <main class="flex-grow">
      <section class="flex flex-col justify-center items-center space-y-8 py-12">
        <div class="text-center">
          <h1 class="text-5xl font-bold mt-5 mb-2">AI機器人</h1>
          <h2 class="text-3xl mt-5 mb-8">
            請以語音方式說明問題，AI將會回覆您所需要的內容。
          </h2>
          <div class="flex flex-col items-center justify-center w-full">
            <div class="flex justify-center items-center w-full">
              <img id="animationImage" src="static/Idle_nurse.gif" class="canvas-style" width="1600" height="900" />
            </div>
              <div class="relative flex justify-center w-full">
                <img src="static/dialog_box.png" alt="dialogBox" style="height: 450px;" class="w-auto" />
                <div id="responseText" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-3/4 h-auto overflow-y-auto text-center p-2"></div>
              </div>
              </div>
            <div class="flex justify-center w-full mt-4">
              <button id="switchButton" onclick="startRecording()">
                <img src="static/rec.png" alt="voice_rec" class="h-auto" style="width: 200px; height: 200px;" />
              </button>
            </div>
          </div>
      </section>
    </main>
    <footer class="flex justify-between items-center p-4 border-t text-sm">
      <div class="text-gray-600 pl-2">中文(繁體)</div>
      <div class="text-gray-600 pr-2">
        © 2024 Meeting Assistant. All Rights Reserved.
      </div>
    </footer>
  </div>

  <script>
    let riveInstance = null;
    let mediaRecorder = null;
    let audioChunks = [];
    let responseTextElement = document.getElementById("responseText");

    function startRecording() {
      if (mediaRecorder && mediaRecorder.state === 'recording') {
        mediaRecorder.stop();
        return;
      }
      navigator.mediaDevices.getUserMedia({ audio: true })
        .then((stream) => {
          console.log("開始錄音，切換到 actionAAnimation");
          switchAnimation("actionA_nurse.gif");

          mediaRecorder = new MediaRecorder(stream);
          mediaRecorder.start();
          audioChunks = [];
          mediaRecorder.ondataavailable = (event) => {
            audioChunks.push(event.data);
          };

          mediaRecorder.onstop = () => {
            const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });

            // 检查录音的 Blob 大小
            console.log(`Audio blob size: ${audioBlob.size} bytes`);

            // 保存录音文件到本地
            const url = URL.createObjectURL(audioBlob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = 'recording.wav';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);

            // 发送录音文件到服务器
            const formData = new FormData();
            formData.append('audio', audioBlob);

            fetch('/api/speech_to_text', {
              method: 'POST',
              body: formData
            })
              .then(response => {
                if (!response.ok) {
                  throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
              })
              .then(data => {
                responseTextElement.innerText = data.response_text;
                
                const audio = new Audio('/recording/response.wav');
                audio.play();
                console.log("LLM 回覆中，切換到 actionBAnimation");
                switchAnimation("actionB_nurse.gif");

                audio.onended = () => {
                  setTimeout(() => {
                    console.log("切換回 Idle 動畫");
                    switchAnimation("Idle_nurse.gif");
                  }, 5000);
                };
              })
              .catch(error => {
                console.error('Error:', error);
              });
          };
        })
        .catch(error => {
          console.error('Error accessing microphone:', error);
        });
    }

    function navigateHome() {
      window.location.href = "/";
    }

    document.addEventListener("DOMContentLoaded", () => {
      console.log("頁面加載完成，播放 Idle 動畫");
      switchAnimation("Idle_nurse.gif");
    });

    function switchAnimation(animationName) {
      const animationImage = document.getElementById("animationImage");
      console.log("切換動畫 : " + animationName);
      animationImage.src = "static/" + animationName;
    }

    // document.addEventListener("DOMContentLoaded", () => {
    //   const canvas = document.getElementById("riveCanvas");
    //   const context = canvas.getContext('2d');
    //   context.imageSmoothingEnabled = true; // 启用图像平滑
    //   context.imageSmoothingQuality = 'high'; // 设置图像平滑质量

    //   riveInstance = new rive.Rive({
    //     src: "static/Idle_nurse.riv",
    //     canvas: canvas,
    //     autoplay: false,
    //     stateMachines: "MyStateMachine",
    //     onLoad: () => {
    //       console.log("Rive 文件加載完成");
    //       riveInstance.play("State Machine_Idle");
    //     }
    //   });
    // });

    // function switchAnimation(animationName) {
    //   if (riveInstance) {
    //     console.log("切換動畫 : " + animationName);

    //     // 停止當前動畫
    //     riveInstance.pause();

    //     // 播放新動畫
    //     riveInstance.play(animationName);
    //   } else {
    //     console.error("Rive 實例未初始化");
    //   }
    // }

  </script>
</body>

</html>